<div class="container">

    <div class="panel-button">
        @if (uiStateService.panels().right) {
            <app-icon-button [icon]="'panel-right-close'" [action]="'toggle-panel'" (onAction)="handleAction($event)" [tooltip]="'menu.panel-right-close.tooltip'"></app-icon-button>
        }
        @else {
            <app-icon-button [icon]="'panel-right-open'" [action]="'toggle-panel'" (onAction)="handleAction($event)" [tooltip]="'menu.panel-right-open.tooltip'"></app-icon-button>
        }
    </div>

    @if (uiStateService.panels().right) {
        <div class="panel">
            @if (showProject()) {
                <div class="panel-buttons">
                    <app-icon-button [icon]="'settings'" [action]="'show-settings'" (onAction)="handleAction($event)" [tooltip]="'menu.showsettings.tooltip'"></app-icon-button>
                    <app-icon-button [icon]="'documentation'" [action]="'show-documentation'" (onAction)="handleAction($event)" [tooltip]="'menu.showdocumentation.tooltip'"></app-icon-button>
                </div>
                <app-project-component></app-project-component>
            }

            @if (showSettings()) {
                <div class="panel-buttons">
                    <app-icon-button [icon]="'close'" [action]="'show-project'" (onAction)="handleAction($event)" [tooltip]="'menu.showproject.tooltip'"></app-icon-button>
                </div>
                <app-settings-component></app-settings-component>
            }

            @if (showDocumentation()) {
                <div class="panel-buttons">
                    <app-icon-button [icon]="'close'" [action]="'show-project'" (onAction)="handleAction($event)" [tooltip]="'menu.showproject.tooltip'"></app-icon-button>
                </div>
                <app-documentation-component></app-documentation-component>
            }
        </div>
    }
</div>
