<div class="container">
    <h1 (click)="changeProjectName()">{{ projectMetadata().name }}</h1>

    <mat-list>
        @for (file of projectFiles(); track file) {
            <div class="file-list-item color"
                 [style.--color]="file.color"
                 [ngClass]="{'selected': isCurrentFile(file)}"
                 (click)="selectFile(file)">
                    <div>{{ file.name }}</div>
            </div>
            @for (track of file.tracks; track track) {
                <!-- <div class="track-list-item color" [style.--color]="track.color"> -->
                <div class="track-list-item">
                    <div>{{ track.name }}</div>
                </div>
            }
        }
    </mat-list>
</div>

