<!-- <div class="container">
    <div class="menu">
        <button matButton>GPX editor</button>
        <button matButton [matMenuTriggerFor]="bestand">{{ 'menu.bestand' | translate | titlecase }}</button>
        <button matButton [matMenuTriggerFor]="bewerken">{{ 'menu.bewerken' | translate | titlecase }}</button>
        <button matButton [matMenuTriggerFor]="weergave">{{ 'menu.weergave' | translate | titlecase }}</button>
        <button matButton [matMenuTriggerFor]="instellingen">{{ 'menu.instellingen' | translate | titlecase }}</button>
        <button matButton [matMenuTriggerFor]="help">{{ 'menu.help' | translate | titlecase }}</button>
    </div>
</div>

<mat-menu #bestand="matMenu">
    <div class="sub-menu">
        <app-menu-button [label]="{{ 'menu.newproject' | translate | titlecase }}" [icon]="'folder-plus'" [action]="'nieuw-project'" (onAction)="handleAction($event)" [tooltip]="''"></app-menu-button>
        <app-menu-button [label]="{{ 'menu.openproject' | translate | titlecase }}" [icon]="'folder-up'" [action]="'open-project'" (onAction)="handleAction($event)" [tooltip]="''"></app-menu-button>
        <app-menu-button [label]="{{ 'menu.saveproject' | translate | titlecase }}" [icon]="'folder-down'" [action]="'bewaar-project'" (onAction)="handleAction($event)" [tooltip]="''"></app-menu-button>
        <app-menu-button [label]="{{ 'menu.exportproject' | translate | titlecase }}" [icon]="'folder-down'" [action]="'bewaar-project'" (onAction)="handleAction($event)" [tooltip]="''"></app-menu-button>
        <hr>
        <app-menu-button [label]="{{ 'menu.newfile' | translate | titlecase }}" [icon]="'file-plus'" [action]="'nieuwe-file'" (onAction)="handleAction($event)" [tooltip]="''"></app-menu-button>
        <app-menu-button [label]="{{ 'menu.openfile' | translate | titlecase }}" [icon]="'file-up'" [action]="'open-file'" (onAction)="handleAction($event)" [tooltip]="''"></app-menu-button>
        <app-menu-button [label]="{{ 'menu.savefile' | translate | titlecase }}" [icon]="'file-down'" [action]="'bewaar-file'" (onAction)="handleAction($event)" [tooltip]="''"></app-menu-button>
        <app-menu-button [label]="{{ 'menu.exportfile' | translate | titlecase }}" [icon]="'folder-down'" [action]="'bewaar-project'" (onAction)="handleAction($event)" [tooltip]="''"></app-menu-button>
    </div>
</mat-menu>

<mat-menu #bewerken="matMenu">
    <div class="sub-menu">
    </div>
</mat-menu>

<mat-menu #weergave="matMenu">
    <div class="sub-menu">
        <app-menu-button [label]="{{ 'menu.tree' | translate | titlecase }}" [icon]="'tree'" [action]="'toggle-tree'" (onAction)="handleAction($event)" [tooltip]="''"></app-menu-button>
        <app-menu-button [label]="{{ 'menu.info' | translate | titlecase }}" [icon]="'chart'" [action]="'toggle-info'" (onAction)="handleAction($event)" [tooltip]="''"></app-menu-button>
    </div>
</mat-menu>

<mat-menu #instellingen="matMenu">
    <div class="sub-menu">
    </div>
</mat-menu>

<mat-menu #help="matMenu">
    <div class="sub-menu">
    </div>
</mat-menu> -->



<div class="container">
    <div class="menu">
        <button matButton>GPX editor</button>

        @for (item of menuItems(); track item) {
            <button matButton [matMenuTriggerFor]="menu">{{ item.label | translate | titlecase }}</button>

            <mat-menu #menu="matMenu">
                <div class="sub-menu">
                    @for (button of item.buttons; track button) {
                        @if (button.action === 'hr') {
                            <hr>
                        }
                        @else {
                            <app-menu-button [label]="button.label" [icon]="button.icon" [action]="button.action" (onAction)="handleAction($event)" [tooltip]="button.tooltip"></app-menu-button>
                        }
                    }
                </div>
            </mat-menu>
        }
    </div>
</div>
