<!-- <div class="container">

  <div class="content">
    <div class="vertical">
      <div class="horizontal">
        <app-map></app-map>
        @if (stateService.panels().bottom) {
          <app-bottom-panel></app-bottom-panel>
        }
      </div>
      @if (stateService.panels().right) {
        <app-right-panel></app-right-panel>
      }
    </div>
  </div>


  <div class="overlays">
    <app-top-menu></app-top-menu>
    <app-left-menu></app-left-menu>
    <app-right-menu></app-right-menu>
  </div>

</div> -->


<div class="container">

  <div class="content">
    <div class="vertical">
      <div class="horizontal">
        <app-map></app-map>
        @if (stateService.panels().bottom) {
          <app-bottom-panel></app-bottom-panel>
        }
        <div class="overlays">
          <app-top-menu></app-top-menu>
          <app-left-menu></app-left-menu>
          <app-right-menu></app-right-menu>
        </div>
      </div>
      @if (stateService.panels().right) {
        <app-right-panel></app-right-panel>
      }
    </div>
  </div>

</div>
