<div class="container">
    <div class="menu">
        @if (mapStateService.interactionState() === coreService.interactionStates.NONE) {
            <app-icon-button [icon]="'select'" [action]="'select'" (onAction)="handleAction($event)" [tooltip]="'menu.select'"></app-icon-button>
            <app-icon-button [icon]="'pencil'" [action]="'edit'" (onAction)="handleAction($event)" [tooltip]="'menu.select'"></app-icon-button>
            <app-icon-button [icon]="'scissors'" [action]="'cut'" (onAction)="handleAction($event)" [tooltip]="'menu.split'"></app-icon-button>
            <app-icon-button [icon]="'combine'" [action]="'combine'" (onAction)="handleAction($event)" [tooltip]="'menu.combine'"></app-icon-button>
            <app-icon-button [icon]="'poi'" [action]="'poi'" (onAction)="handleAction($event)" [tooltip]="''"></app-icon-button>
        }
        @else {
            @if (mapStateService.interactionState() === coreService.interactionStates.SELECTION) {
                <app-icon-button [icon]="'close'" [action]="'close-selection'" (onAction)="handleAction($event)" [tooltip]="'menu.close.tooltip'"></app-icon-button>
            }
            @else if (mapStateService.interactionState() === coreService.interactionStates.SPLITTER) {
                <app-icon-button [icon]="'close'" [action]="'close-splitter'" (onAction)="handleAction($event)" [tooltip]="'menu.close.tooltip'"></app-icon-button>
            }
            @else if (mapStateService.interactionState() === coreService.interactionStates.COMBINER) {
                <app-icon-button [icon]="'close'" [action]="'close-combine'" (onAction)="handleAction($event)" [tooltip]="'menu.close.tooltip'"></app-icon-button>
            }
        }
    </div>
</div>