<div class="container">
    <div class="menu">
        <!-- @if (projectStateService.hasSelection()) { -->
            <app-icon-button [icon]="'clear-selection'" [action]="'clear-selection'" (onAction)="handleAction($event)" [tooltip]="''"></app-icon-button>
        <!-- } -->
        <!-- @else { -->
            <!-- <app-icon-button [icon]="'select'" [action]="'select'" (onAction)="handleAction($event)" [tooltip]="''"></app-icon-button> -->
        <!-- } -->

        <!-- @if (mapStateService.hasSelectInteraction()) { -->
            <app-icon-button [icon]="'close'" [action]="'close-selection'" (onAction)="handleAction($event)" [tooltip]="''"></app-icon-button>
        <!-- } -->
        <!-- @else { -->
            <app-icon-button [icon]="'pencil'" [action]="'edit'" (onAction)="handleAction($event)" [tooltip]="''"></app-icon-button>
            <app-icon-button [icon]="'scissors'" [action]="'cut'" (onAction)="handleAction($event)" [tooltip]="''"></app-icon-button>
            <app-icon-button [icon]="'combine'" [action]="'combine'" (onAction)="handleAction($event)" [tooltip]="''"></app-icon-button>
        <!-- } -->

        <app-icon-button [icon]="'poi'" [action]="'poi'" (onAction)="handleAction($event)" [tooltip]="''"></app-icon-button>
    </div>
</div>