<div
  class="projectname"
  [matContextMenuTriggerFor]="projectMenu"
  (contextmenu)="selectForAction($event, projectStateService.project())"
  [matTooltip]="'menu.rightclick.tooltip' | translate"
>
  <div>
    <span class="gap">{{ 'project' | translate | titlecase}}:</span>
    <span>{{ projectStateService.project().metadata.name }}</span>
  </div>
</div>

<mat-list>
  @for (file of projectStateService.project().files; track file) {
    <div
      class="file-list-item"
      [matContextMenuTriggerFor]="fileMenu"
      (contextmenu)="selectForAction($event, file)"
    >
      <div>{{ file.metadata.name }}</div>

      @for (track of file.tracks; track track) {
        <div
          class="track-list-item color"
          [style.--color]="track.metadata.color"
          [ngClass]="{ selected: isSelected(track.metadata.id) }"
          (click)="selectTrack($event, track)"
          [matContextMenuTriggerFor]="trackMenu"
          (contextmenu)="selectForAction($event, track)"
        >
          <div>{{ track.metadata.name }}</div>
        </div>
      }
    </div>
  }
</mat-list>

<mat-menu #projectMenu="matMenu">
  <div class="sub-menu">
    <app-menu-button
      [label]="'menu.editproject'"
      [icon]="'pencil'"
      [action]="'edit-project'"
      (onAction)="handleAction($event)"
      [tooltip]="'menu.editproject.tooltip'"
    ></app-menu-button>
    <hr />
    <app-menu-button
      [label]="'menu.newproject'"
      [icon]="'folder-plus'"
      [action]="'new-project'"
      (onAction)="handleAction($event)"
      [tooltip]="'menu.newproject.tooltip'"
    ></app-menu-button>
    <app-menu-button
      [label]="'menu.openproject'"
      [icon]="'folder-up'"
      [action]="'open-project'"
      (onAction)="handleAction($event)"
      [tooltip]="'menu.openproject.tooltip'"
    ></app-menu-button>
    <app-menu-button
      [label]="'menu.saveproject'"
      [icon]="'folder-down'"
      [action]="'save-project'"
      (onAction)="handleAction($event)"
      [tooltip]="'menu.saveproject.tooltip'"
    ></app-menu-button>
    <app-menu-button
      [label]="'menu.exportproject'"
      [icon]="'folder-output'"
      [action]="'export-project'"
      (onAction)="handleAction($event)"
      [tooltip]="'menu.exportproject.tooltip'"
    ></app-menu-button>
    <hr />
    <app-menu-button
      [label]="'menu.newfile'"
      [icon]="'file-plus'"
      [action]="'new-file'"
      (onAction)="handleAction($event)"
      [tooltip]="'menu.newfile.tooltip'"
    ></app-menu-button>
    <app-menu-button
      [label]="'menu.openfile'"
      [icon]="'file-up'"
      [action]="'open-file'"
      (onAction)="handleAction($event)"
      [tooltip]="'menu.openfile.tooltip'"
    ></app-menu-button>
  </div>
</mat-menu>

<mat-menu #fileMenu="matMenu">
  <div class="sub-menu">
    <app-menu-button
      [label]="'menu.editfile'"
      [icon]="'pencil'"
      [action]="'edit-file'"
      (onAction)="handleAction($event)"
      [tooltip]="'menu.editfile.tooltip'"
    ></app-menu-button>
    <app-menu-button
      [label]="'menu.gotofile'"
      [icon]="'goto'"
      [action]="'goto-file'"
      (onAction)="handleAction($event)"
      [tooltip]="'menu.gotofile.tooltip'"
    ></app-menu-button>
    <hr />
    <app-menu-button
      [label]="'menu.savefile'"
      [icon]="'file-down'"
      [action]="'save-file'"
      (onAction)="handleAction($event)"
      [tooltip]="'menu.savefile.tooltip'"
    ></app-menu-button>
    <app-menu-button
      [label]="'menu.exportfile'"
      [icon]="'file-output'"
      [action]="'export-file'"
      (onAction)="handleAction($event)"
      [tooltip]="'menu.exportfile.tooltip'"
    ></app-menu-button>
    <app-menu-button
      [label]="'menu.duplicatefile'"
      [icon]="'file-copy'"
      [action]="'duplicate-file'"
      (onAction)="handleAction($event)"
      [tooltip]="'menu.duplicatefile.tooltip'"
    ></app-menu-button>
    <app-menu-button
      [label]="'menu.deletefile'"
      [icon]="'file-delete'"
      [action]="'delete-file'"
      (onAction)="handleAction($event)"
      [tooltip]="'menu.deletefile.tooltip'"
    ></app-menu-button>
    <hr />
    <app-menu-button
      [label]="'menu.newtrack'"
      [icon]="'add'"
      [action]="'new-track'"
      (onAction)="handleAction($event)"
      [tooltip]="'menu.newtrack.tooltip'"
    ></app-menu-button>
  </div>
</mat-menu>

<mat-menu #trackMenu="matMenu">
  <div class="sub-menu">
    <app-menu-button
      [label]="'menu.edittrack'"
      [icon]="'pencil'"
      [action]="'edit-track'"
      (onAction)="handleAction($event)"
      [tooltip]="'menu.edittrack.tooltip'"
    ></app-menu-button>
    <app-menu-button
      [label]="'menu.gototrack'"
      [icon]="'goto'"
      [action]="'goto-track'"
      (onAction)="handleAction($event)"
      [tooltip]="'menu.gototrack.tooltip'"
    ></app-menu-button>
    <hr />
    <app-menu-button
      [label]="'menu.copytrack'"
      [icon]="'copy'"
      [action]="'copy-track'"
      (onAction)="handleAction($event)"
      [tooltip]="'menu.copytrack.tooltip'"
    ></app-menu-button>
    <app-menu-button
      [label]="'menu.deletetrack'"
      [icon]="'trash'"
      [action]="'delete-track'"
      (onAction)="handleAction($event)"
      [tooltip]="'menu.deletetrack.tooltip'"
    ></app-menu-button>
  </div>
</mat-menu>
