.align {
    display: flex;
    align-items: center;
    gap: 10px;
}

.right {
    margin-top: 0;
    margin-left: auto;
}

// .full-width {
//   width: 100%;
// }

// .full-width .mdc-button__label {
//   display: block;
//   width: 100%;
//   text-align: center; /* or left/right/justify */
// }
